h2.title {
	font-size: 20px;
	background: url("../img/about_me.png") no-repeat scroll 0 0 transparent;
	height: 35px;
	width: 300px;
	text-indent: -9999px;
	
	padding: 0px;
	margin: 0px;
}

div.about_me_outer {
	margin: -5px 0px 20px 0px;
	padding: 3px 0px 0px 3px;
	background-image: -moz-linear-gradient(left, #000000, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#FFFFFF));
	
	height: 260px;
	width: 690px;
}

div.about_me_inner {
	margin: 0px 0px 0px 0px;
	
	height: 257px;
	width: 690px;
	
	background-color: #FFFFFF;
}   

div#photo {
	float: left;
	height: 257px;
	width: 220px;
}
div#profile {
	float: right;
	height: 257px;
	width: 470px;
}
