html{
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

body {
	background-color: #ffffff;
    min-height: 100%;
    height: 100%;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

div#body {
    background-color: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    width: 950px;
    
    min-height: 100%;
    height: 100%;
}

div#header {
    width: 950px;
    height: 300px;
    margin: 0px 0px 0px 0px;
    background-image: url(../img/top.jpg);
    background-repeat: no-repeat;
}

div#menuList {
	margin: -20px 0px 5px 0px;
	width: 950px;
	height: 30px;
	padding: 0px;
}

div#contents {
	margin: 0px 0px 10px 0px;
	background-color: #FFFFFF;
	float: none;
    min-height: 80%;
    display: block;
    vertical-align: baseline;
    overflow: hidden;
}

div#main {
	float: left;
    border-color:#FFFFFF;
    border-width:1px;

	width: 710px;
	display: inline-block;
	
	padding: 10px 3px 10px 3px;
	margin: 0px 0px 110px 0px;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
}

div#side{
	float: right;
    border-color:#FFFFFF;
    border-width:1px;

	width: 218px;
	display: inline-block;
	
	padding: 5px;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
	
	border-left: 3px dotted #000000;
}

ul#menu {
	width: 950px;
	padding: 1px;
}

ul#menu li {
	float: left;
	background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    display: block;

    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    padding: 5px 10px;

    box-shadow: 0 2px 0 rgba(150, 150, 150, 0.5);
    
    width: 215px;
    text-align: center;
	
	background: rgb(170,197,222); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(170,197,222,1) 0%, rgba(206,219,233,1) 5%, rgba(170,197,222,1) 12%, rgba(97,153,199,1) 21%, rgba(58,132,195,1) 40%, rgba(65,154,214,1) 54%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 94%, rgba(38,85,139,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,197,222,1)), color-stop(5%,rgba(206,219,233,1)), color-stop(12%,rgba(170,197,222,1)), color-stop(21%,rgba(97,153,199,1)), color-stop(40%,rgba(58,132,195,1)), color-stop(54%,rgba(65,154,214,1)), color-stop(71%,rgba(75,184,240,1)), color-stop(94%,rgba(58,139,194,1)), color-stop(100%,rgba(38,85,139,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(170,197,222,1) 0%,rgba(206,219,233,1) 5%,rgba(170,197,222,1) 12%,rgba(97,153,199,1) 21%,rgba(58,132,195,1) 40%,rgba(65,154,214,1) 54%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 94%,rgba(38,85,139,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(170,197,222,1) 0%,rgba(206,219,233,1) 5%,rgba(170,197,222,1) 12%,rgba(97,153,199,1) 21%,rgba(58,132,195,1) 40%,rgba(65,154,214,1) 54%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 94%,rgba(38,85,139,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(170,197,222,1) 0%,rgba(206,219,233,1) 5%,rgba(170,197,222,1) 12%,rgba(97,153,199,1) 21%,rgba(58,132,195,1) 40%,rgba(65,154,214,1) 54%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 94%,rgba(38,85,139,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(170,197,222,1) 0%,rgba(206,219,233,1) 5%,rgba(170,197,222,1) 12%,rgba(97,153,199,1) 21%,rgba(58,132,195,1) 40%,rgba(65,154,214,1) 54%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 94%,rgba(38,85,139,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aac5de', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */

}

ul#menu li:hover {
	background-image: -moz-linear-gradient(top, hsl(0,0%,98%) 0%,hsl(0,0%,77%) 100%);
	background-image: -ms-linear-gradient(top, hsl(0,0%,98%) 0%,hsl(0,0%,77%) 100%);
	background-image: -webkit-linear-gradient(top, hsl(0,0%,98%) 0%,hsl(0,0%,77%) 100%);
	background-image: linear-gradient(to bottom, hsl(0,0%,98%) 0%,hsl(0,0%,77%) 100%);
}

ul#menu li:first-child {
	border-radius:5px 0 0 5px;
}

ul#menu li:last-child {
	border-radius:0 5px 5px 0;
}

ul#menu li a {
	display: block;
	color: #FFFFFF;
	text-decoration:none;
	width: 100%;
	height: 100%;
}

h2.side_title{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid  #000000;
	height: 25px;
	font-size: 20px;
}

div#calender
{
	width: 207px;
	height: 175px;
	margin: 0px 5px;
	background-color: #FFFFFF;
}
ul.calender_header
{
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

ul.calender_header li
{
	float: left;
	display: block;
}
li#calender_back
{
	width: 23px;
	text-align: left;
}
li#calender_forward
{
	width: 23px;
	text-align: right;
}
li#calender_now
{
	width: 161px;
	text-align: center;
}

ul.calender_week
{
	margin: 0px 2px;
	padding: 0px;
	clear: left;
}

ul.calender_week li
{
	float: left;
	display: block;
	width: 29px;
	text-align: center;
	font-size: 13px;
	white-space: nowrap;
}

div#recent_entries
{
	width: 207px;
	margin: 10px 5px;
	background-color: #FFFFFF;
	clear: left;
}

div#categories
{
	width: 207px;
	margin: 10px 5px;
	background-color: #FFFFFF;
	clear: left;
}

div#footer {
	float: none;
	width: 950px;
    height: 200px;
    position: relative
    bottom: 0px; 
    background-image: url(../img/footter.jpg);
    background-repeat: no-repeat;
    margin: 10px 0px 10px 0px;
}

.clear { clear:both; }  
.clear hr { display:none; }  
